/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ———– */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ———– */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ———– */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ———– */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ———– */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  
}
/* Desktops and laptops ———– */
@media only screen and (max-width: 1024px) {
  
}
@media only screen and (max-width: 1280px) {
  
}
@media only screen and (min-width: 1200px) {
  /* render in columns */
  .col {
    -moz-column-width: 200px;
    -moz-column-count: 2;
    -moz-column-gap: 25px;
    -moz-column-rule-color: #eeeeee;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 0px;
    -webkit-column-width: 200px;
    -webkit-column-count: 2;
    -webkit-column-gap: 25px;
    -webkit-column-rule-color: #eeeeee;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 0px;
    column-width: 200px;
    column-count: 2;
    column-gap: 25px;
    column-rule-color: #eeeeee;
    column-rule-style: solid;
    column-rule-width: 0px;
  }
  /* zet content uit de rechtercolom naast elkaar */
  #rightcolumn #content-wrapper #content {
    width: 65%;
    max-width: 940px;
  }
  #rightcolumn #content-wrapper aside {
    width: 35%;
    max-width: 400px;
    height: 100%;
  }
  #rightcolumn #content-wrapper aside section {
    padding: 35px;
    height: auto;
  }
  #rightcolumn #content-wrapper aside section .visual {
    float: none;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
  }
  #rightcolumn #content-wrapper aside section input[type=text] {
    width: 100%;
  }
  /* hide code btn */
  .btncode {
    display: none;
  }
}
/* Large screens ———– */
@media only screen and (min-width: 1600px) {
  
}
@media only screen and (min-width: 1650px) {
  
}
/* iPhone 4 ———– */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
