/* CSS crunched with Crunch - http://crunchapp.net/ */
body{background:url('../img/bg.png');}
#container{width:1000px;margin:auto;}
#header{font:18px 'Lucida Grande',Arial,sans-serif;color:white;background:url('../img/headerbg.png');text-align:center;font:30px;padding:40px 20px;background-color:#681f00;}
#content{font:12px 'Lucida Grande',Arial,sans-serif;background:url('../img/contentbg.png');padding:20px;height:100%;}#content a{color:#9b5228;font:10px;}
#content a:hover{color:white;}
#footer{background:url('../img/contentbg.png');-webkit-border-radius:0px 0px 6px 6px;padding:5px 20px;color:white;}
